<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="local.suunto.folders.test" android:versionCode="1" android:versionName="1">
    <uses-sdk android:minSdkVersion="32" android:targetSdkVersion="36" />
    <application android:theme="@android:style/Theme.Material.Light.NoActionBar" android:label="Aqua folders test">
        <provider android:name="local.suunto.music.UsbTestProvider" android:authorities="local.suunto.folders.test.usb" android:exported="true" android:permission="android.permission.MANAGE_DOCUMENTS" android:grantUriPermissions="true" />
        <activity android:name="com.suunto.headset.ui.OfflineMusicManageActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
    </application>
</manifest>
